.video-container{
  width: 110%;
  position: relative;
  left: 0;
  top: 0;
}
.text-enter{
  display: none;
}
/*video subpage*/

.video-player{
  position: relative;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
}
