@keyframes hideshow {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
} 
.under-construction{
	position: relative;
	display: block;
	left: 0;
	opacity: 0;
	animation: hideshow 20s ease-in-out infinite;
}