<<<<<<< HEAD
@keyframes hideshow {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.under-construction{
	position: relative;
	display: block;
	left: 0;
	opacity: 0;
	animation: hideshow 20s ease-in-out infinite;
}
=======
.project-content{
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 50;
  background-color: #f0f0f0;
}
.project-info{
  width: 30%;
  float: left;
  height: 100%;
  position: fixed;
  top: 90px;
  h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  p{
    margin: auto;
    display: block;
    position: relative;
    width: 90%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }
}

.project-images{
  width: 70%;
  float: right;
  .slideshow{
    width: 99%;
    overflow: hidden;
    display: block;
    margin: auto;
    .slide{
      width: 99%;
      display: block;
      margin: 1% auto;
      border: 1px solid #1a1a1a;
      background-color: #f0f0f0;
    }
  }
}
